@layer component {
	[data-st-menu-trigger-button] {
		align-items: center;
		justify-content: center;
		--_background-color-dark: var(--st-color-preference-dark)
			var(--st-color-neutral-800);
		background-color: var(
			--_background-color-dark,
			var(--st-color-neutral-100)
		);
		border: 1px solid var(--st-border-color-0);
		color: inherit;
		display: inline-flex;
		padding: 0 var(--st-size-4);
		border-radius: var(--st-size-1);
		gap: var(--st-size-1_5);
		height: var(--st-size-10);
		user-select: none;
		transition:
			background-color 0.25s ease,
			color 0.25s ease;
	}

	[data-st-menu-trigger-button]:hover {
		--_background-color-dark: var(--st-color-preference-dark)
			var(--st-color-neutral-700);
		background-color: var(
			--_background-color-dark,
			var(--st-color-neutral-200)
		);
	}
}
