@layer component {
	[data-st-menu-trigger-button] {
		align-items: center;
		justify-content: center;
		background-color: var(--st-surface-color-1);
		border: 1px solid var(--st-border-color-0);
		color: inherit;
		display: inline-flex;
		padding: 0 var(--st-size-4);
		border-radius: var(--st-size-1);
		gap: var(--st-size-1_5);
		height: var(--st-size-10);
		user-select: none;
		transition:
			background-color 0.25s ease,
			color 0.25s ease;
	}

	[data-st-menu-trigger-button]:hover {
		--background-color-mix: var(--st-color-preference-dark)
			rgba(255, 255, 255, 0.5);
		background-color: color-mix(
			in lch,
			var(--st-surface-color-1) 80%,
			var(--background-color-mix, rgba(0, 0, 0, 0.25))
		);
	}
}
