@layer component {
	[data-st-dialog-trigger-button] {
		align-items: center;
		justify-content: center;
		background-color: transparent;
		color: inherit;
		display: inline-flex;
		padding: var(--st-size-2) var(--st-size-4);
		border-radius: var(--st-size-1);
		user-select: none;
		transition:
			background-color 0.25s ease,
			color 0.25s ease;
	}

	[data-st-dialog-trigger-button]:hover {
		--_color-dark: var(--st-color-preference-dark) inherit;
		color: var(--_color-dark, hsl(225deg 100% 55%));
		--_background-color-dark: var(--st-color-preference-dark)
			hsl(225deg 100% 60% / 0.1);
		background-color: var(--_background-color-dark, hsl(215deg 100% 90%));
	}
}
