@layer base {
	:where(:root) {
		--st-color-black: rgb(0 0 0);
		--st-color-blue-50: #eff6ff;
		--st-color-blue-100: #dbeafe;
		--st-color-blue-200: #bfdbfe;
		--st-color-blue-300: #93c5fd;
		--st-color-blue-400: #60a5fa;
		--st-color-blue-500: #3b82f6;
		--st-color-blue-600: #2563eb;
		--st-color-blue-700: #1d4ed8;
		--st-color-blue-800: #1e40af;
		--st-color-blue-900: #1e3a8a;
		--st-color-blue-950: #172554;
		--st-color-neutral-50: #fafafa;
		--st-color-neutral-100: #f5f5f5;
		--st-color-neutral-200: #e5e5e5;
		--st-color-neutral-300: #d4d4d4;
		--st-color-neutral-400: #a3a3a3;
		--st-color-neutral-500: #737373;
		--st-color-neutral-600: #525252;
		--st-color-neutral-700: #404040;
		--st-color-neutral-800: #262626;
		--st-color-neutral-900: #171717;
		--st-color-neutral-950: #0a0a0a;
		--st-color-white: rgb(255 255 255);
	}
}
