.DS_Store
node_modules
.wireit
.env
.env.*
!.env.example
.eslintcache
*.tsbuildinfo

packages/*/*.tgz
packages/*/.svelte-kit
packages/*/dist
packages/*/types

sites/*/.svelte-kit
sites/*/build
sites/*/vite.config.js.timestamp-*
sites/*/vite.config.ts.timestamp-*