@layer component {
	[data-st-combobox-listbox] {
		background-color: var(--st-surface-color-0);
		border-color: var(--st-border-color-0);
		border-radius: var(--st-size-1);
		border-width: 1px;
		--_box-shadow:
			0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
		--_box-shadow-dark:
			var(--st-color-preference-dark) 0 10px 15px -3px rgb(0 0 0 / 0.25),
			0 4px 6px -4px rgb(0 0 0 / 0.1);
		box-shadow: var(--_box-shadow-dark, var(--_box-shadow));
		display: grid;
		grid-template-columns: auto minmax(0, 1fr);
		min-width: var(--st-size-40);
		padding: var(--st-size-2);
	}
}
