@layer theme, base, component, utilities;

@layer base {
	html,
	body {
		height: 100%;
	}

	body {
		--_background-color: white;
		--_background-color-dark: var(--st-color-preference-dark)
			var(--st-color-neutral-800);
		background-color: var(
			--_background-color-dark,
			var(--_background-color)
		);
		--_color: var(--st-neutral-700);
		--_color-dark: var(--st-color-preference-dark)
			var(--st-color-neutral-200);
		color: var(--_color-dark, var(--_color));
		font-family: Arial, Helvetica, sans-serif;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
	}

	::-webkit-scrollbar {
		width: 0.5rem; /* vertical scrollbar */
		height: 0.5rem; /* horizontal scrollbar */
	}

	::-webkit-scrollbar-thumb {
		border: none;
		box-shadow: none;
		border-radius: 0.5rem;
		--_background-color: #d4d4d4;
		--_background-color-dark: var(--st-color-preference-dark) #525252;
		background-color: var(
			--_background-color-dark,
			var(--_background-color)
		);
	}
}
