@layer utilities {
	.sr-only {
		border-width: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		/* https://github.com/tailwindlabs/tailwindcss/discussions/12429#discussioncomment-9354260 */
		position: fixed;
		white-space: nowrap;
		width: 1px;
	}
}
